<!DOCTYPE html>
<html>

<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
	<h1>Header</h1>
	<p class="lead">Something</p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Yes</h2>
			<a class="btn btn-primary btn-lg btn-block">yes</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h2 class="text-center">No</h2>
			<a class="btn btn-success btn-lg btn-block">No</a>
		</div>
	</div>
</div>

</body>
</html>